
params {
    input      = 'https://raw.githubusercontent.com/m-mahgoub/bam2fastq/main/samplesheet.csv'
    fasta      = 'https://github.com/m-mahgoub/bam2fastq/blob/881d990b78e49a8972081608a5623c4db4876ae8/data/genome.fa' // required for cram only
    is_cram    = false
    single_end = false
    indexed    = false
    outdir     = "${launchDir}/results"
}






profiles {
    standard    {
            process.executor       = 'local'
            docker.enabled         = false
            singularity.enabled    = false
    }

dhslab       {
            executor.queueSize     = 10 
            process.executor       = "lsf"
            process.clusterOptions =  { "-a 'docker(${task.container})' -q dspencer -G compute-dspencer -g /dspencer/bam2fastq" }        

    }
    ris_general {
                executor.queueSize     = 10 
                process.executor       = "lsf"
                process.clusterOptions = { "-a 'docker(${task.container})' -q general -G compute-dspencer -g /dspencer/bam2fastq" }        

    }
    
    slurm {
            process.executor='slurm'
            }
            


    docker       {
            docker.enabled         = true
            docker.runOptions      = '-u $(id -u):$(id -g)'
            singularity.enabled    = false
    }

    singularity   {
            docker.enabled         = false
            singularity.enabled    = true
            singularity.autoMounts = true
    }
    conda   {
            conda.enabled         = true
            conda.useMamba        = true
    }
}
