
params {
    input      = 'samplesheet.csv'
    fasta      = '/Users/mohamedmahgoub/Documents/github/scratch/bam2fastq/data/genome.fa'
    is_cram    = false
    single_end = false
    indexed    = false
    outdir     = "${launchDir}/results"
}






profiles {
    standard    {
            process.executor       = 'local'
            docker.enabled         = false
            singularity.enabled    = false
    }
    
    slurm {
            process.executor='slurm'
            }
            


    docker       {
            docker.enabled         = true
            docker.runOptions      = '-u $(id -u):$(id -g)'
            singularity.enabled    = false
    }

    singularity   {
            docker.enabled         = false
            singularity.enabled    = true
            singularity.autoMounts = true
    }
    conda   {
            conda.enabled         = true
            conda.useMamba        = true
    }
}
